

.main__container a{
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}

.header{
    text-align: center;
}

.hero .underline {
    width: 3rem;
    height: 0.2rem;
    margin: auto;
    background-color: black;
}

.hero .main__heading{
    font-weight: 400;
    line-height: 4rem;
}

.hero .read__btn{
    margin: auto;
    background-color: black;
    color: white;
}

.hero .are_you_buidler{
    margin-top: 1rem;
}

.achievement div{
    width: 10rem;
}

.achievement div:last-child{
    width: 100%;
}

.achievement p{
    font-size: 1.5rem;
}

.achievement p::after{
    content: '';
    width: 40%;
    margin: auto;
    display: block;
    margin-top: 0.2rem;
    padding: 0.03rem;
    background-color: black;
}



@media all and (min-width:425px){
    .header{
        width: 22rem;
    }
    .hero .read__btn{
        width: 20rem;
    }
}

@media all and (min-width:768px){
    .header{
        width: 30rem;
    }
    .hero .read__btn{
        width: 22rem;
    }
}